{% extends 'base.html' %}
{% block body %}
<div>
  <h2>{{sub_heading}}</h2>
  <table>
    <thead>
      <td>CWID</td>
      <td>Name</td>
      <td>Department</td>
      <td>Courses</td>
      <td>Students</td>
    </thead>
    <tbody>
      {% for instructor in instructors %}
      <tr>
        <td>{{instructor[0]}}</td>
        <td>{{instructor[1]}}</td>
        <td>{{instructor[2]}}</td>
        <td>{{instructor[3]}}</td>
        <td>{{instructor[4]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}